<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="27274EveElseIf.bilibilidownloadtool"
    Publisher="CN=E8A87D1A-6712-47FF-877A-086B526DECC4"
    Version="1.1.4.0" />

  <Properties>
    <DisplayName>bilibili download tool 早期测试</DisplayName>
    <PublisherDisplayName>EveElseIf</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="bilibili下载工具 测试"
        Description="还在测试中"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<desktop:Extension Category="windows.fullTrustProcess" Executable="BiliDownload.Launcher/BiliDownload.Launcher.exe">
				<desktop:FullTrustProcess>
					<desktop:ParameterGroup GroupId="VideoGroup" Parameters="videoConverter"/>
					<desktop:ParameterGroup GroupId="XmlGroup" Parameters="xmlConverter"/>
				</desktop:FullTrustProcess>
			</desktop:Extension>
		</Extensions>
      <uap:ApplicationContentUriRules>
        <uap:Rule Type="include" Match="https://eveelseif.gitee.io" WindowsRuntimeAccess="all"/>
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
	<rescap:Capability Name="confirmAppClose" />
  </Capabilities>
</Package>
