<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="27274EveElseIf.bilibilidownloadtool"
    Publisher="CN=E8A87D1A-6712-47FF-877A-086B526DECC4"
    Version="1.1.5.0" />

  <Properties>
    <DisplayName>小破站下载工具</DisplayName>
    <PublisherDisplayName>EveElseIf</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="小破站下载工具"
        Description="还在测试中"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
	  <Extensions>

	  	<!--Specify which CLSID to activate when toast clicked-->
	  	<desktop:Extension Category="windows.toastNotificationActivation">
	  		<desktop:ToastNotificationActivation ToastActivatorCLSID="BE6BDAB1-70D4-4FD9-87E6-7C55FCAD7380" />
	  	</desktop:Extension>

	  	<!--Register COM CLSID LocalServer32 registry key-->
	  	<com:Extension Category="windows.comServer">
	  		<com:ComServer>
	  			<com:ExeServer Executable="BiliDownload.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
	  				<com:Class Id="BE6BDAB1-70D4-4FD9-87E6-7C55FCAD7380" DisplayName="Toast activator"/>
	  			</com:ExeServer>
	  		</com:ComServer>
	  	</com:Extension>

	  </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
